.slider1 {
  background-image: url(../../../assets/img/components/slider1/sliderBackground.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.slider1Content {
  display: grid;
  grid-template-columns: 39% 51%;
  column-gap: 126px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 100%;
  }
}
.sliderSl {
  position: relative;
  margin-top: 176px;
  @media screen and (max-width: 1200px) {
    margin-top: 59px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 43px;
  }
}
.sliderText {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 108.5%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 116px;
  @media screen and (max-width: 1200px) {
    margin-top: 59px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 59px;
  }
  @media screen and (max-width: 767px) {
    font-size: 35px;
    margin-top: 48px;
  }
}

.slider1 .btnNonStandart {
  background-color: white;
  border: 1px solid transparent;
  max-width: 200px;
  margin-bottom: 182px;
  margin-top: -46px;

  @media screen and (max-width: 1200px) {
    margin-top: 63px;
    margin: 63px auto 126px;
    padding: 15px 38px;
  }

  @media screen and (max-width: 767px) {
    max-width: 230px;
    padding: 11px 54px;
    margin: 37px auto 92px;
  }
}

.slideWr {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    img {
      width: 270px;
    }
  }
}
