.btn {
  background-color: transparent;
  border-radius: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition: 0.3s;
  border: 1px solid #7481ff;
  padding: 15px;
  color: #7481ff;

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 14px;
  }
}
