.rates {
  margin-top: 230px;
}

.titleRates {
  font-weight: 700;
  font-size: 45px;
  line-height: 140.5%;
  color: #41456b;
}

.ratesWr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin-top: 63px;
  height: 413px;
}

.left {
  padding: 60px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.right {
  padding: 60px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.titleWr {
  display: flex;
  justify-content: space-between;
  height: 70px;

  img {
    width: 60px;
  }
}

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #41456b;
  width: 83%;
}

.descr {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #606276;
}

@media screen and (max-width: 1200px) {
  .rates {
    margin-top: 393px;
  }

  .titleRates {
    text-align: center;
  }

  .ratesWr {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 64px;
    height: auto;
    row-gap: 20px;
  }

  .left,
  .right {
    width: 600px;
    height: auto;
    padding-top: 40px;
    padding-left: 39px;
    padding-bottom: 40px;
    padding-right: 35px;
  }
  .titleWr {
    // margin-top: 20px;
    justify-content: flex-start;
  }

  .title {
    margin-left: 21px;
    padding-right: 105px;
  }
}

@media screen and (max-width: 767px) {
  .rates {
    margin-top: 198px;
  }

  .titleRates {
    font-size: 30px;
    line-height: 140.5%;
    text-align: inherit;
  }

  .ratesWr {
    margin-top: 31px;
  }

  .left,
  .right {
    width: 100%;
    padding: 0;
    padding-top: 5px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 21px;
    padding-top: 20px;
  }

  .titleWr {
    height: 56px;
    img {
      width: 50px;
    }
  }

  .title {
    font-size: 20px;
    line-height: 140%;
    padding-right: 0;
    margin-left: 8px;
  }

  .descr {
    margin-top: 16px;
  }
}
