.img1 {
  position: absolute;
  top: 227px;
  height: 166px;
  left: -11px;

  @media screen and (max-width: 1200px) {
    height: 166px;
    top: 360px;
    height: 209.71px;
    left: -38px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 265px;
    width: 274px;
    height: 114px;
    left: -66px;
    top: 401px;
  }
}

.img2 {
  position: absolute;
  right: -47px;
  top: 81px;
  @media screen and (max-width: 1200px) {
    height: 206px;
    right: -181px;
    top: 233px;
  }
  @media screen and (max-width: 767px) {
    width: 259px;
    height: 132px;
    right: -81px;
    top: 303px;
  }
}

.descrSecWr {
  position: relative;
  overflow-x: clip;
  margin-bottom: 290px;

  @media screen and (max-width: 1200px) {
    margin-bottom: 370px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 265px;
  }
}
