.img1 {
  position: absolute;
  top: 227px;
  height: 209.71px;
  left: -11px;
}

.img2 {
  position: absolute;
  right: -47px;
  top: 81px;
}

.descrSecWr {
  position: relative;
  overflow-x: clip;
  margin-bottom: 290px;
}
