.videoSec {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 416px 416px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.videoCardWr {
  width: 100%;
  height: 100%;
}
.videoFrameWr {
  height: 326px;
}
.videoText {
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #41456b;
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .videoSec {
    grid-column-gap: 0;
    row-gap: 79px;
    grid-template-columns: 1fr;
  }

  .videoFrameWr {
    height: 399px;
  }
}

@media screen and (max-width: 767px) {
  .videoSec {
    margin-top: 30px;
    grid-template-rows: 244px;
    row-gap: 20px;
  }

  .videoFrameWr {
    height: 178px;
  }

  .videoText {
    font-size: 20px;
    line-height: 140%;
    margin-top: 10px;
  }
}
