.carWr {
  display: grid;

  column-gap: 64px;
  grid-template-columns: 49% 1fr;
  height: 402px;
}

.left {
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  margin-top: 40px;

  padding-left: 63px;
}

.title {
  font-weight: 700;
  font-size: 45px;
  line-height: 140.5%;
  color: #41456b;
  margin-top: 61px;
}

.descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #606276;
  margin-top: 22px;
  width: 86%;
}

.btn {
  margin-top: 15px;
  margin-top: 38px;
  width: 200px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: end;
}

@media screen and (max-width: 1200px) {
  .carWr {
    grid-template-columns: 1fr;
    width: 601px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .left {
    width: 100%;
    padding-left: 40px;
    padding-bottom: 0px;
  }

  .title {
    margin-top: 40px;
    margin-top: -1px;
  }

  .descr {
    width: 91%;
  }

  .right {
    margin-top: 80px;

    img {
      width: 600px;
      height: 265px;
    }
  }
}

@media screen and (max-width: 767px) {
  .carWr {
    width: 100%;
    margin-top: 10px;
  }

  .left {
    padding-left: 20px;
    margin-top: 35px;
    height: 95%;
  }

  .title {
    font-size: 30px;
    line-height: 140.5%;
    margin-top: 0px;
  }

  .descr {
    font-size: 16px;
    margin-top: 12px;

    line-height: 180%;
  }

  .btn {
    width: 93%;
    margin-top: 29px;
    height: 35px;
    padding: 0;

    margin-top: 34px;
  }

  .right {
    margin-top: 52px;

    img {
      width: 320px;
      height: 141px;
    }
  }
}
