:global(.quiz-block) {
  margin: 0 auto;
  width: 454px;
  margin-top: 59px;
}
:global(.quiz-title) {
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #41456b;
}
:global(.quiz-descr) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159%;
  color: #7c7a84;
  margin-top: 5px;
}
:global(.quiz-btn) {
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  width: 222px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  background: none;
  padding: 10px 0;
}
:global(.quiz-btn-cont) {
  border: none;
  background: #7481ff;
  border-radius: 2px;
  padding: 16px 0;
  width: 222px;
  margin-top: 38px;
  padding: 11px 0;

  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

:global(.quiz-btn-wr) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  column-gap: 7px;
  row-gap: 10px;
}
