.lineWr {
  width: 454px;
  height: 8px;
  background: #f1f1f1;
  border-radius: 2px;
  margin: 0 auto;
}

.line {
  background: #7380ff;
  border-radius: 2px;
  height: 100%;
  width: 10%;
}

.quiz {
  margin-top: 50px;
  margin-top: 39px;
}
