.lineWr {
  width: 454px;
  height: 8px;
  background: #f1f1f1;
  border-radius: 2px;
  margin: 0 auto;
}

:global(.line) {
  transition: 0.3s;
  background: #7380ff;
  border-radius: 2px;
  height: 100%;
  width: 9%;
}

.quiz {
  margin-top: 50px;
  margin-top: 39px;
}

:global(.specFooterCl) {
  display: none;
}

:global(.quiz-block) {
  margin: 0 auto;
  width: 454px;
  margin-top: 59px;
}
:global(.quiz-title) {
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #41456b;
}
:global(.quiz-descr) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159%;
  color: #7c7a84;
  margin-top: 5px;
}
:global(.quiz-btn) {
  width: 222px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  background: none;
  padding: 10px 0;
  transition: 0.3s;
  &:hover {
    border: 1px solid black;
  }
}
:global(.quiz-btn-active) {
  border: 1px solid #7481ff;
}
:global(.quiz-btn-cont) {
  border: none;
  background: #7481ff;
  border-radius: 2px;
  padding: 16px 0;
  width: 222px;
  margin-top: 38px;
  padding: 11px 0;

  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

:global(.quiz-btn-wr) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  column-gap: 7px;
  row-gap: 10px;
}

:global(.quiz-input-wr) {
  display: block;
}

:global(.quiz-btn-back) {
  background: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #606276;
}

:global(.quiz-etc-btns-wr) {
  display: flex;

  margin-top: 38px;
  :global(.quiz-btn-cont) {
    margin-top: 0;
  }

  :global(.quiz-btn-back) {
    margin-left: 66px;
  }
}

:global(.quiz-input-wr-adress) {
  display: grid;
}

:global(.quiz-input-wr-date) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  input {
    padding: 15px 6px;
  }
}

@media screen and (max-width: 767px) {
  .lineWr {
    width: 100%;
  }
  :global(.quiz-block) {
    width: 100%;
  }
  :global(.quiz-btn-wr) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  :global(.quiz-btn) {
    width: 100%;
  }
  :global(.quiz-btn-cont) {
    width: 100%;
  }
}
