.triangleSec {
  display: grid;
  grid-template-columns: 52% 1fr;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 58% 1fr;
  }
}
.triangleLeft {
  @media screen and (max-width: 1200px) {
    ul {
      margin-top: 123px;
    }
  }
}
.triangleRight {
  @media screen and (max-width: 1200px) {
    padding-left: 30px;
  }
}
.triangleTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 140.5%;
  color: #41456b;
  width: 64%;
  margin-bottom: 60px;

  @media screen and (max-width: 1200px) {
    position: absolute;
    width: unset;
  }
}

ul {
}

.triangleRight {
  padding-top: 183px;
  /* padding-left: 6px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
