.triangleSec {
  display: grid;
  grid-template-columns: 52% 1fr;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 58% 1fr;
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
.triangleLeft {
  @media screen and (max-width: 1200px) {
    ul {
      margin-top: 123px;
    }
  }

  @media screen and (max-width: 767px) {
    ul {
      margin-top: 118px;
    }
  }
}
.triangleRight {
  padding-top: 183px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1200px) {
    padding-left: 30px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 0;
    padding: 23px 0 0 0;
  }
}
.triangleTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 140.5%;
  color: #41456b;
  width: 64%;
  margin-bottom: 60px;

  @media screen and (max-width: 1200px) {
    position: absolute;
    width: unset;
  }

  @media screen and (max-width: 767px) {
    font-size: 30px;
    line-height: 140.5%;
    width: 71%;
  }
}

ul {
}

.triangleRight {
}
