.section {
  margin-top: 111px;

  @media screen and (max-width: 1200px) {
    margin-top: 10px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 72px;
  }
}
.title {
  font-weight: 700;
  font-size: 45px;
  line-height: 140.5%;
  color: #41456b;

  margin-bottom: 55px;

  @media screen and (max-width: 1200px) {
    font-size: 45px;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    font-weight: 700;
    font-size: 30px;
    line-height: 140.5%;
    text-align: center;

    margin-bottom: 0;
    color: #41456b;
  }
}
