.slider3 {
}

.sliderTitle {
  font-weight: 700;
  font-size: 45px;
  line-height: 140.5%;
  color: #41456b;
}

.sliderWr {
  margin-top: 58px;
}

.slideWr {
  width: 387px;
  height: 360px;
  box-shadow: 0px 20px 25px 0px #0000001a;

  img {
  }
}

.slideDate {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #606276;
}

.slideTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #41456b;
}

.sliderMainPage {
  margin-top: 220px;
}

.btn {
  height: 45px;
  width: 180px;
}

.sliderTitlesWr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliderDescrWr {
  padding: 20px 30px;
}

.btnBottom {
  display: none;
}
