.getCar {
  display: grid;
  margin-top: 264px;
  grid-template-columns: 1fr 46%;
  column-gap: 76px;
}
.getCarLeft {
}
.getCarDescr {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  margin-top: 22px;
  color: #606276;
}
.getCarTitle {
  font-weight: 700;
  font-size: 45px;
  line-height: 140.5%;
  color: #41456b;
}
.getCarRight {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 12px;
}

.textsBlock {
}

.topBl {
  display: grid;
  grid-template-columns: 1fr 46%;
  margin-top: 128px;
  align-items: end;
}

.topLeft {
}

.topRight {
  width: 90%;
}

.topTitle {
  font-weight: 700;
  font-size: 45px;
  line-height: 140.5%;
  color: #41456b;
}

.topText {
}

.centerBl {
  margin-top: 218px;
  display: grid;
  grid-template-columns: 46% 1fr;
  column-gap: 100px;
}
.centerRight {
  width: 91%;
}

.centerSubTitle {
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  color: #41456b;
  margin-top: 10px;
  width: 103%;
}

.centerBtn {
  margin-top: 39px;
  width: 200px;
}

.bottomBl {
  display: grid;

  margin-top: 205px;
  grid-template-columns: 49% 1fr;
  column-gap: 63px;
}

.bottomLeftBlock {
  background: #ffffff;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);

  //   background: red;
  width: 100%;
  height: 289px;
  padding: 60px 0 0 60px;
}

.bottomLeftBlockText {
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  color: #41456b;
  width: 86%;
}

.bottomBtn {
  margin-top: 40px;
  width: 200px;
}

.bottomRight {
  margin-top: -15px;
}

.dynamic {
  display: grid;
  margin-top: 205px;
  margin-top: 215px;
  grid-template-columns: 43% 1fr;
  column-gap: 84px;
}

.dynamicTitle {
  font-weight: 700;
  font-size: 45px;
  line-height: 140.5%;
  color: #41456b;
}

.dynamicSubTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #41456b;
  margin-top: 20px;
}

.danamicDescr {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #606276;
  margin-top: 13px;
}

.dynamicRight {
  padding-top: 17px;
}

.feature {
  margin-top: 232px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rightTitle {
  font-weight: 700;
  font-size: 45px;
  line-height: 140.5%;
  color: #41456b;
  margin-top: -11px;
}

.rightDescr {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #606276;
  margin-top: 19px;
}

.rightCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 38px;
  row-gap: 42px;
  column-gap: 40px;
}

@media screen and (max-width: 1200px) {
  .slider {
    margin-top: 160px;
  }
  .getCar {
    grid-template-columns: 1fr;
    margin-top: 443px;
    padding: 0 62px;
  }

  .getCarRight {
    margin-top: 22px;
  }

  .topBl {
    grid-template-columns: 1fr;
    margin-top: 61px;
    padding: 0 61px;
  }
  .topLeft {
    order: 1;
    margin-top: 47px;
  }

  .topRight {
    width: 100%;
  }

  .topTitle {
    width: 82%;
  }
  .centerBl {
    grid-template-columns: 1fr;
    padding: 0 60px;
    margin-top: 163px;
  }

  .topTitle {
    width: 100%;
  }

  .centerRight {
    width: 100%;
    margin-top: 30px;
  }

  .centerSubTitle {
    font-size: 25px;
    line-height: 140%;
    width: 100%;
  }

  .bottomBl {
    display: none;
  }
  .dynamic {
    grid-template-columns: 1fr;
    margin-top: 156px;
    padding: 0 60px;
  }

  .dynamicRight {
    padding-top: 40px;
    img {
      height: 428px;
      width: 100%;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 767px) {
  .getCar {
    margin-top: 237px;
    padding: 0;
  }

  .getCarTitle {
    font-size: 30px;
    line-height: 140.5%;
  }

  .getCarDescr {
    margin-top: 12px;
  }

  .getCarRight {
    margin-top: 14px;
  }

  .topBl {
    padding: 0;
    margin-top: 45px;
  }

  .topTitle {
    font-weight: 700;
    font-size: 45px;
    line-height: 140.5%;
    font-size: 30px;
    line-height: 140.5%;
    width: 100%;
  }

  .getCarDescr {
    width: 96%;
  }

  .topLeft {
    margin-top: 0px;
  }
  .centerBl {
    padding: 0;
    margin-top: 81px;
    .getCarDescr {
      width: 100%;
    }
  }
  .centerRight {
    margin-top: 11px;
  }

  .centerSubTitle {
    font-size: 20px;
    line-height: 140%;
  }

  .centerBtn {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
  }

  .slider {
    margin-top: 78px;
  }

  .dynamic {
    padding: 0;
    margin-top: 274px;
  }

  .dynamicTitle {
    font-size: 30px;
    line-height: 140.5%;
  }

  .dynamicSubTitle {
    font-size: 18px;
    line-height: 25px;
    margin-top: 12px;
  }

  .danamicDescr {
    margin-top: 6px;
  }

  .dynamicRight {
    margin-top: 17px;
    padding-top: 0;
    img {
      height: 227px;
      width: 100%;
    }
  }
}
