.benefit {
  margin-top: 220px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left {
  width: 92%;
}
.right {
}
.title {
  font-weight: 700;
  font-size: 45px;
  line-height: 140.5%;
  color: #41456b;
}
.descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  margin-top: 20px;
  color: #606276;
}
.descrBold {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #41456b;
  margin-top: 20px;
}
.right {
  align-self: end;

  img {
  }
}
.btn {
  margin-top: 40px;
  width: 200px;
}

@media screen and (max-width: 1200px) {
  .benefit {
    grid-template-columns: 1fr;
    margin-top: 160px;
  }

  .left {
    width: 83.6%;
    margin: 0 auto;
  }

  .descr {
    margin-top: 22px;
  }

  .btn {
    width: 200px;
  }
  .right {
    align-self: end;
    justify-self: center;
    margin-top: 40px;
    img {
    }
  }
}

@media screen and (max-width: 767px) {
  .benefit {
    margin-top: 75px;
  }
  .left {
    width: 100%;
  }

  .title {
    font-size: 30px;
    line-height: 140.5%;
  }

  .descr {
    margin-top: 13px;
  }
  .descrBold {
    width: 100%;
    font-size: 18px;
    line-height: 25px;
  }

  .btn {
    width: 100%;
    margin-top: 30px;
    height: 35px;
    padding: 0;
  }

  .right {
    margin-top: 32px;
  }
}
