.input {
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 159%;
  padding: 15px 20px;
  transition: 0.3s;
  background-image: url(../../../../assets/img/components/inputs/mail.svg);
  background-repeat: no-repeat;
  background-position: 11px;
  padding-left: 42px;
  color: #d7d7d7;

  &:focus {
    color: #606276;
  }

  &.error {
    border: 1px solid #f54e4e;
    border-radius: 2px;
  }
}
