.drop {
  width: 100%;
  height: auto;
  padding: 23px 29px;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  margin-bottom: 12px;

  &.active {
    .dropText {
      display: block;
    }

    .dropImg {
      transform: rotate(180deg);
    }
  }
}

.dropTop {
  display: flex;
  justify-content: space-between;
}

.dropTopTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #41456b;
}

.dropImg {
  transition: 0.3s;
  cursor: pointer;
}

.dropText {
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #606276;
  width: 94%;
  margin-top: 9px;
  margin-bottom: 8px;
}

@media screen and (max-width: 1200px) {
  .drop {
    padding: 20px 29px;
  }

  .dropTopTitle {
    width: 90%;
  }

  .dropImg {
    height: 25px;
  }
}

@media screen and (max-width: 767px) {
  .drop {
    padding: 18px 19px;
  }

  .dropTopTitle {
    font-size: 18px;
    line-height: 25px;
  }
}
